<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Converter</servlet-name>
        <servlet-class>controllers.Converter</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby://localhost:1527/lab5</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>michal</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>pochec</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>controllers.History</servlet-class>
        <init-param>
            <param-name>driver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
        <init-param>
            <param-name>url</param-name>
            <param-value>jdbc:derby://localhost:1527/lab5</param-value>
        </init-param>
        <init-param>
            <param-name>user</param-name>
            <param-value>michal</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>pochec</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Converter</servlet-name>
        <url-pattern>/Converter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
</web-app>
